<h2>Create new Movie</h2>
<hr>

<form asp-action="create" asp-controller="movie" method="POST" class="form">

    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <br>
    <input type="text" name="Year" placeholder="Year" class="form-control" />
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="index" asp-controller="movie" class="btn btn-link">Back to list</a>
</form>