@model MovieCrud.Models.Movie

<h2> Details </h2>
<hr />
<form asp-action="delete" asp-controller="movie" method="POST">
    <input asp-for="Id" hidden>

    <strong>@Model.Name</strong>
    <p>@Model.Year</p>

    <button class="btn btn-danger">
        Delete
    </button>
    <a asp-action="index" asp-controller="movie" class="btn btn-link">Back to list</a>
</form>